---
layout: case
title: Stamp
description: Create and share personalized experiences
---

<header class="c-header">
  <div class="o-container">
    <h1>Stamp</h1>
  </div>
</header>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'case' %>
<% end %>