input, select, textarea {
  color: inherit;
  font: inherit;
  line-height: normal;
  background-color: transparent;
  outline: 0;
  border: 0;
  border-radius: 0;
  -webkit-font-smoothing: subpixel-antialiased; // Safari transform bug
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: vertical;
  padding: 0;
}