// Base

html {
  font-size: 100%;
}

body {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
  color: $body-color;
  -webkit-font-smoothing: antialiased;
  @include font-size($regular-font-size);

  @include mq(medium-up) {
    line-height: $base-line-height * 1.1;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6  .h6,{
  font-weight: $font-weight-bold;
  color: $headline-color;
  line-height: $heading-line-height;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, ul, ol {
  margin: 0 0 0.75em 0;

  &:last-child {
    margin-bottom: 0;
  }
}

p, ul, ol {
  margin-bottom: 1em;

  @include mq(medium-up) {
    margin-bottom: 1.5em;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: $font-weight-bold;
  color: $headline-color;
}


// Headings

h1,
.h1 {
  @include font-size($h1-font-size);
}

h2,
.h2 {
  @include font-size($h2-font-size);
}

h3,
.h3 {
  @include font-size($h3-font-size);
}

h4,
.h4 {
  @include font-size($h4-font-size);
}

h5,
.h5 {
  @include font-size($h5-font-size);
}