.c-contact-footer {
  // @include transition;
  // display: block;
  // position: relative;
  background-color: $o-dark-0;
  background-image: url('../images/contact-footer.jpg');
  background-size: cover;
  // color: $white;
  height: 1000px;
}