.c-top-section {
  position: relative;

  @include vertical-padding(10rem, 4rem);

  @include mq(small-up) {
    @include vertical-padding(10rem, 4rem);
  }

  @include mq(medium-up) {
    @include vertical-padding(12rem, 6rem);
  }

  @include mq(large-up) {
    @include vertical-padding(14rem, 8rem);
  }

  @include mq(x-large-up) {
    @include vertical-padding(16rem, 10rem);
  }

  & + &:not(.c-section--maintain-padding):not(.c-section--border) {
    padding-top: 0;
  }
}

.c-top-section--short {
  padding-bottom: 0 !important;
}

.c-top-section__heading {
  font-family: $serif-font-family;
  line-height: $heading-line-height-tight;
  letter-spacing: $serif-font-letter-spacing;
  margin-bottom: 10px;
  font-weight: $font-weight-bolder;
}

.c-top-section__subheading {
  margin-bottom: 0;
  font-family: $sans-serif-font-family;
  font-weight: $font-weight-bold;
  line-height: $base-line-height;
  color: $o-primary;
}