// Base

.c-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  height: $button-height-mobile;
  font-size: 85%;
  font-weight: $font-weight-bold;
  vertical-align: top;
  border-radius: $border-radius;
  transition: background-color $animation-time $animation-curve, color $animation-time $animation-curve, box-shadow $animation-time $animation-curve;

  @include mq(medium-up) {
    height: $button-height-desktop;
    padding: 0 2rem;
  }

  @include mq(large-up) {
    padding: 0 2.5rem;
  }
}


// Types

.c-btn--primary {
  background-color: $o-primary;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: mix($o-primary, $black, 95%);
  }
}

.c-btn--secondary {
  box-shadow: inset 0 0 0 1px $o-primary;
  color: $o-primary;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $o-primary;
    box-shadow: inset 0 0 0 1px $o-primary;
  }
}


// Icon

.c-btn__icon {
  margin-left: $spacing-small;
}