.c-page-content {
  position: relative;
  width: 100%;
  z-index: $o-z-1;
  background-color: $white;
  box-shadow: $o-shadow-lg;


  // This clears the appearing footer
  margin-bottom: 496px; // will change later
}