// Base

.c-image {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;

  & + & {
    margin-top: $spacing-large;

    @include mq(medium-up) {
      margin-top: 3rem;
    }

    @include mq(large-up) {
      margin-top: 4rem;
    }
  }
}


// Overlap

.c-image--overlap-bottom {
  top: 2rem;
  margin-top: -2rem;

  @include mq(medium-up) {
    top: 3rem;
    margin-top: -3rem;
  }

  @include mq(large-up) {
    top: 3.5rem;
    margin-top: -3.5rem;
  }

  @include mq(x-large-up) {
    top: 4.5rem;
    margin-top: -4.5rem;
  }
}


// Misc

.c-image--full {
  max-width: none;
  width: 100%;
}