.c-link {
  position: relative;
  color: $grey-dark;
  padding-bottom: $spacing-tiny;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    opacity: 0.25;
    transition: opacity $animation-time $animation-curve;
  }
}

.c-link:hover:after,
.c-link:focus:after,
.c-link:active:after {
  opacity: 1;
}

.c-link--contrast {
  color: $white;

  &:after {
    opacity: 0.4;
  }
}