// Animation

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


// Base

.c-fieldset {
  margin: -$spacing-small*1.5;
  display: flex;
  flex-wrap: wrap;

  @include mq(medium-up) {
    margin: -$spacing-medium;
  }

  .c-field {
    padding: $spacing-small*1.5;

    @include mq(medium-up) {
      padding: $spacing-medium;
    }
  }
}

.c-field {
  display: block;
  width: 100%;

  &.is-invalid {
    animation: shake 1s $animation-curve both;
  }
}

.c-field__input-wrapper {
  position: relative;
}

.c-field__label {
  display: block;
  color: $grey-light;
  line-height: $heading-line-height; // Overwrite body line-height
  font-size: 14px;
  margin-bottom: $spacing-small;
}

.c-field__input {
  @include transition;
  width: 100%;
  padding: $spacing-medium;
  outline: 0;
  font-weight: $font-weight-regular;
  color: $grey-dark;
  resize: none;
  vertical-align: top;
  background-color: $o-dark-0;
  cursor: text;
  font-size: 17px;
  // border-radius: $border-radius;
  border-bottom: 1px solid $o-dark-0;

  @include mq(medium-up) {
    padding: $spacing-medium;
  }

  &:focus {
    border-color: $o-primary;
    box-shadow: inset 0 -1px 0 0 $o-primary;
  }
}

.c-field__input--select {
  cursor: pointer;

  &::after {
    content: ' ';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: red;
    top: 0;
    right: 0;
    z-index: 999;
  }
}

.c-field__input--textarea {
  resize: vertical;
  min-height: 160px;
  line-height: $base-line-height;
}

.c-field__input--has-right-add-on {
  padding-right: $spacing-x-large;
}

.c-field__add-on {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--right {
    right: 0;
  }
}

// Tabs

.c-form-tabs {
  display: block;
  border-bottom: 1px solid $grey-lightest;
  margin-bottom: $spacing-large;

  .c-form-tabs__item {
    @include transition;
    padding-bottom: 1rem;
    display: inline-block;
    margin-right: $spacing-large;
    margin-bottom: -1px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    color: $grey-light;
    cursor: pointer;
    letter-spacing: 1px;

    &--active {
      color: $o-dark-100;
      box-shadow: inset 0 -2px 0 0 $o-primary;
    }

    &:hover {
      color: $o-dark-100;
    }
  }

}








