.c-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;  

  @include vertical-padding(1.5rem);

  @include mq(small-up) {
    @include vertical-padding(2rem);
  }

  @include mq(medium-up) {
    @include vertical-padding(3rem)
    // margin-top: 1rem;
  }

  @include mq(large-up) {
    @include vertical-padding(5rem)
    // margin-top: 2rem;
  }

  @include mq(x-large-up) {
    // margin-top: 2.5rem;
  }
}

.c-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-nav__logo {
  display: block;
  font-weight: $font-weight-bold;
  letter-spacing: -0.5px;
  // color: $white;
  font-size: 24px;
}

.c-nav__toggle {
  position: relative;
  z-index: 250;
  margin: -$spacing-medium;
  padding: $spacing-medium;
}

.c-nav__item {
  display: inline-block;
  margin-left: $spacing-x-large;
}

.c-nav__link {
  display: inline-block;
  position: relative;
  // color: $white;
  transition: all $animation-time $animation-curve;
  font-weight: $font-weight-bold;
  // letter-spacing: $letter-spacing-lg;
  text-transform: lowercase;
  opacity: 1;
  padding: $spacing-medium 0;

  font-size: 14px; // Need to fix this using respective mq's and variables


  &:hover,
  &.is-active {
    color: $o-primary;
    transform: scale(0.95);
  }

  &:active {
    transform: scale(0.9);
  }
}