// Animation

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


// Base

.c-fieldset {
  margin: -$spacing-small*1.5;
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.075);
  padding: $spacing-medium;
  border-radius: 3px;

  @include mq(medium-up) {
    margin: -$spacing-medium;
  }

  .c-field {
    padding: $spacing-small;

    @include mq(medium-up) {
      // padding: $spacing-small;
    }
  }
}

.c-field {
  display: block;
  width: 100%;

  &.is-invalid {
    animation: shake 1s $animation-curve both;
  }
}

.c-field__input-wrapper {
  position: relative;

  .c-field__input--select__arrow {
    position: absolute;
    top: 20px;
    right: $spacing-medium;
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid $o-dark-100;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
}

.c-field__label {
  display: block;
  color: $o-dark-60;
  line-height: $base-line-height;
  font-size: 14px;  // NEED TO FIX ------------------------------------------------------------------------------------
  margin-bottom: $spacing-small;
  // font-weight: $font-weight-bold;
  // text-transform: lowercase;
}

.c-field__input {
  @include transition;
  width: 100%;
  outline: 0;
  font-weight: $font-weight-regular;
  color: $o-dark-100;
  resize: none;
  vertical-align: top;
  background-color: #F3F6FA;
  cursor: text;
  font-size: 17px;
  border-radius: $border-radius;
  border: 1px solid rgba(0,0,0,0);
  padding: $spacing-small;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover {
    background-color: lighten(#F3F6FA, 1.5%);
  }

  &:focus {
    border-color: $o-primary;
    box-shadow: 0 0 0 1px $o-primary;
    background-color: $white;
  }

  @include mq(medium-up) {
    padding: $spacing-small 1.5*$spacing-small;
  }
}

.c-field__input--select {
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: red;
    top: 0;
    right: 0;
    z-index: 999;
  }
}

.c-field__input--textarea {
  resize: vertical;
  min-height: 160px;
  line-height: $base-line-height;
}

.c-field__input--has-right-add-on {
  padding-right: $spacing-x-large;
}

.c-field__add-on {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--right {
    right: 0;
  }
}

// Tabs

.c-form-tabs {
  display: block;
  margin-bottom: $spacing-medium;

  .c-form-tabs__item {
    @include transition;
    padding-bottom: 1rem;
    display: inline-block;
    margin-right: $spacing-large;
    margin-bottom: -1px;
    font-size: 14px;   // NEED TO FIX ------------------------------------------------------------------------------------
    text-transform: lowercase;
    font-weight: $font-weight-bold;
    color: $o-dark-100;
    cursor: pointer;
    user-select: none;

    &--active {
      color: $o-primary;
      pointer-events: none;
    }

    &:hover {
      color: $o-primary;
    }
  }
}








