.c-home-section {
  // background-color: $o-dark-100;



  @include vertical-padding(6rem);

  @include mq(small-up) {
    @include vertical-padding(8rem);
  }

  @include mq(medium-up) {
    @include vertical-padding(12rem);
  }

  @include mq(large-up) {
    @include vertical-padding(16rem);
  }

  @include mq(x-large-up) {
    @include vertical-padding(20rem);
  }

  & + &:not(.c-section--maintain-padding):not(.c-section--border) {
    padding-top: 0;
  }
}

.c-home-section__heading {
  margin-bottom: $spacing-small;
  line-height: $heading-line-height-tight;
  font-weight: $font-weight-regular;
  // color: $white;

  @include mq(medium-up) {
    margin-bottom: $spacing-medium;
    margin-top: -$spacing-small/2; // Align heading with subheading
  }
}

.c-home-section__subheading {
  font-family: $sans-serif-font-family;
  font-weight: $font-weight-regular;
  line-height: $base-line-height;
  // color: rgba(255,255,255,0.4);
  color: $o-dark-100;
  // max-width: 700px;
  margin-bottom: $spacing-medium;
  // @include font-size($h4-font-size);

  @include mq(small-up) {
    margin-bottom: $spacing-large;
  }

  @include mq(large-up) {
    margin-bottom: $spacing-x-large;
  }
}