// Icons

.o-box {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 200px);
  height: 100%;
  overflow: hidden;
  // transform: skewY(-8deg);
  transform-origin: 0;
  background-color: $o-dark-0;
}


.o-box--orange {
  background-image: linear-gradient(-120deg, #FFE8C5 0%, #FFCFBA 50%, #F2EAA8 100%);
}


.o-box--green {
  background-image: linear-gradient(#E4EFDE 0%, #D5EDF3 50%, #F3EBF2 100%);
}
