// Icons

.o-slant {
  display: block;
  position: absolute;
  top: -1575px;
  left: 0;
  width: 95%;
  height: 2000px;
  transform-origin: center;
  overflow: visible;
  background-color: $o-dark-0;
}

.o-slant--top {
  top: -1600px;
  left: 5%;
  transform: skewY(35deg);
  z-index: 0;
}

.o-slant--bottom {
  transform: skewY(25deg);
  left: -5%;
  opacity: 0.5;
  z-index: -1;
}

.o-slant--orange {
  background-image: linear-gradient(-120deg, #FFE8C5 0%, #FFCFBA 50%, #F2EAA8 100%);
}

.o-slant--green {
  background-image: linear-gradient(#E4EFDE 0%, #D5EDF3 50%, #F3EBF2 100%);
}