// List

.o-list {
  margin: 0;
  padding: 0;
  list-style: none;
  // padding-left: $spacing-large;
}

.o-list--inline {
  display: flex;
  flex-wrap: wrap;
  margin: -$spacing-small;
}


// Inline list

.o-inline-list__item {
  padding: $spacing-small;
}