// Misc

$base-font-size: 16px;
$border-radius: 4px;


// Spacing

$spacing-base: 1rem;

$spacing-small: $spacing-base / 4;
$spacing-medium: $spacing-base;
$spacing-large: $spacing-base * 2;
$spacing-x-large: $spacing-base * 3;
$spacing-xx-large: $spacing-base * 4;
$spacing-xxx-large: $spacing-base * 5;
$spacing-xxxx-large: $spacing-base * 6;


// Media queries

$small: 600px;
$medium: 890px;
$large: 1100px;
$x-large: 1300px;
$xx-large: 1700px;


// Timing

$animation-time: 0.15s;
$animation-curve: cubic-bezier(0.645, 0.045, 0.355, 1);