// Misc

$serif-font-family: 'Butler';
$sans-serif-font-family: 'Overpass', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-bolder: 800;

$base-line-height: 1.5;
$heading-line-height: 1.5;
$heading-line-height-tight: 1.15;

$base-letter-spacing: 0.2px;
$serif-font-letter-spacing: -2.5px;
$sans-serif-font-letter-spacing: -1px;

$letter-spacing-lg: 3px;


// Font sizes

$small-font-size: 0.85em;

$regular-font-size: (
  null: 16px,
  $medium: 17px,
  $large: 18px,
  $x-large: 18.5px
);

$h1-font-size: (
  null: 2.2em,
  $medium: 2.4em,
  $large: 2.6em,
  $x-large: 3.8em
);

$h2-font-size: (
  null: 1.2em,
  $medium: 1.3em,
  $large: 1.4em,
  $x-large: 1.5em
);

$h3-font-size: (
  null: 1.2em,
  $large: 1.3em,
  $x-large: 1.4em
);

$h4-font-size: (
  null: 1em,
  $medium: 1.1em,
  $large: 1.2em
);

$h5-font-size: (
  null: 1em
);

$h6-font-size: (
  null: 0.8em
);