// Misc

$o-primary: #AFA7DC;
$o-primary: #222;

$white: #fff;
$off-white: #f3f3f3;
$black: #000;
$red: #f15e58;
$green: #32C970;


// Darkscale

$grey-dark: #222;
$grey: #555;
$grey-light: #999;
$grey-lightest: #dedede;

$o-dark-100: #222;
$o-dark-80: #333;
$o-dark-60: #444;
$o-dark-40: #555;
$o-dark-20: #666;
$o-dark-0: #777;

