// Misc

$white: #fff;
$off-white: #f3f3f3;
$black: #000;
$red: #f15e58;
$green: #32C970;


// Darkscale

$grey-dark: #222;
$grey: #555;
$grey-light: #999;
$grey-lightest: #dedede;


// Set colors

$primary-color: $red;
$border-color: $grey-lightest;