// Base

.u-#{1}\/#{1} {
  width: percentage(1/1);
}

.u-#{1}\/#{2} {
  width: percentage(1/2);
}

.u-#{2}\/#{3} {
  width: percentage(2/3);
}

.u-#{1}\/#{3} {
  width: percentage(1/3);
}

.u-#{1}\/#{4} {
  width: percentage(1/4);
}


// Small

@include mq(small-up) {
  .u-#{1}\/#{1}\@sm {
    width: percentage(1/1);
  }

  .u-#{1}\/#{2}\@sm {
    width: percentage(1/2);
  }

  .u-#{1}\/#{3}\@sm {
    width: percentage(1/3);
  }

  .u-#{2}\/#{3}\@sm {
    width: percentage(2/3);
  }
}


// Medium

@include mq(medium-up) {
  .u-#{1}\/#{1}\@md {
    width: percentage(1/1);
  }

  .u-#{1}\/#{2}\@md {
    width: percentage(1/2);
  }

  .u-#{1}\/#{3}\@md {
    width: percentage(1/3);
  }

  .u-#{1}\/#{4}\@md {
    width: percentage(1/4);
  }

  .u-#{2}\/#{3}\@md {
    width: percentage(2/3);
  }
}


// Large

@include mq(large-up) {
  .u-#{1}\/#{1}\@lg {
    width: percentage(1/1);
  }

  .u-#{1}\/#{2}\@lg {
    width: percentage(1/2);
  }

  .u-#{1}\/#{3}\@lg {
    width: percentage(1/3);
  }

  .u-#{1}\/#{4}\@lg {
    width: percentage(1/4);
  }

  .u-#{1}\/#{5}\@lg {
    width: percentage(1/5);
  }

  .u-#{3}\/#{5}\@lg {
    width: percentage(3/5);
  }

  .u-#{2}\/#{3}\@lg {
    width: percentage(2/3);
  }

  .u-#{1}\/#{6}\@lg {
    width: percentage(1/6);
  }

  .u-#{5}\/#{12}\@lg {
    width: percentage(5/12);
  }

  .u-#{7}\/#{12}\@lg {
    width: percentage(7/12);
  }
}