.u-block {
  display: block !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-hide {
  display: none !important;
}

.u-hide-visually {
  margin: -1px !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  position: absolute !important;
}

.u-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


// Hide/show

.u-hide--large-down {
  @include mq(large-down) {
    display: none !important;
  }
}

.u-hide--large-up {
  @include mq(large-up) {
    display: none !important;
  }
}

.u-hide--medium-down {
  @include mq(medium-down) {
    display: none !important;
  }
}

.u-hide--medium-up {
  @include mq(medium-up) {
    display: none !important;
  }
}


// Flex

.u-flex {
  display: flex;
}

.u-clickthrough {
  pointer-events: none;
}