
<footer class="c-footer js_footer">

  <div class="o-box"></div>

  <div class="o-container">

    <p class="label">Want to work together?</p>
    <h2><%= current_page.data.footer_heading %></h2>

    <% data.socialLinks.social.each do |writeLink| %>
      <a href="<%= writeLink.href %>"><%= writeLink.title %></a>
    <% end %>

  </div>
  
</footer>