<a href="#">
  <footer class="c-footer js_footer">
    <!-- <div class="o-box"></div> -->
    <div class="o-container">
      <p class="label">Want to work together?</p>
      <h2><%= current_page.data.footer_heading %></h2>
    </div>
  </footer>
</a>