
<footer class="c-footer js_footer">

  <div class="o-container">
    <p class="label">Want to work together?</p>
    <h2><%= current_page.data.footer_heading %></h2>
  </div>
    
  <div class="c-footer__links">
    <div class="o-container">
      <p class="u-inline-block">© 2017 WeAreOccam, LLC</p>
    </div>
  </div>
  
</footer>