---

sitemap_priority: 0.8

footer_heading: Lorem ipsum dolor amet



---

<header class="c-top-section">
  <div class="o-container">
    <div class="o-grid">
      <h1 class="o-grid__item u-1/1 c-top-section__heading" data-aos="fade-up" data-aos-delay="100">Let's build something great together</h1>
      <div class="o-grid__item u-1/1 u-2/3@md" data-aos="fade-up" data-aos-delay="150">
      </div>
      <div class="o-grid__item u-1/1 u-1/3@md" data-aos="fade-up" data-aos-delay="200">
      </div>
    </div>
  </div>
</header>

<section class="c-section">
  <div class="o-container">
    <div class="o-grid o-grid--padded">

      <div class="o-grid__item u-1/1 u-1/3@md">
        <p class="label">Lorem ipsum dolor amet</p>
        <p>Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.

Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      </div>

      <div class="o-grid__item u-1/1 u-2/3@md">
        <form action="#">
          <div class="c-fieldset">
            <div class="c-field u-1/1 u-1/2@sm">
              <label for="" class="label">Name</label>
              <div class="c-field__input-wrapper">
                <input class="c-field__input type="text">
              </div>
            </div>

            <div class="c-field u-1/1 u-1/2@sm">
              <label for="" class="label">Email</label>
              <div class="c-field__input-wrapper">
                <input class="c-field__input type="text">
              </div>
            </div>

            <div class="c-field u-1/1 u-1/2@sm">
              <label for="" class="label">Budget</label>
              <div class="c-field__input-wrapper">
                <select class="c-field__input c-field__input--select c-field__input--has-right-add-on" name="" id="">
                  <option>£20,000 - £40,000</option>
                  <option>£40,000 - £60,000</option>
                  <option>£60,000 - £80,000</option>
                  <option>£80,000 - £100,000</option>
                  <option>£100,000 +</option>
                  <option>I don't know</option>
                </select>
              </div>
            </div>

            <div class="c-field u-1/1 u-1/2@sm">
              <label for="" class="label">Timeline</label>
              <div class="c-field__input-wrapper">
                <select class="c-field__input c-field__input--select c-field__input--has-right-add-on" name="" id="">
                  <option>2 - 3 months</option>
                  <option>3 - 6 months</option>
                  <option>6 months +</option>
                </select>
              </div>
            </div>

            <div class="c-field">
              <label for="" class="label">Describe your project</label>
              <div class="c-field__input-wrapper">
                <textarea class="c-field__input c-field__input--textarea" name="" id="" cols="30" rows="10"></textarea>
              </div>
            </div>
            
            <div class="c-field">
              <button class="c-btn c-btn--primary">Submit</button>
            </div>

              

          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>
