---

sitemap_priority: 0.8

footer_heading: Lorem ipsum dolor amet



---

<header class="c-top-section">
  <div class="o-container">
    <div class="o-grid">
      <h1 class="o-grid__item u-1/1 c-top-section__heading" data-aos="fade-up" data-aos-delay="100">Let's build something great together</h1>
      <div class="o-grid__item u-1/1 u-2/3@md" data-aos="fade-up" data-aos-delay="150">
        <p class="label">Interested in working together?</p>
        <h4 class="c-top-section__subheading">Leave us a quick message outlining the details of your project and we'll get back to you as in a jiffy.</h4>
      </div>
      <div class="o-grid__item u-1/1 u-1/3@md" data-aos="fade-up" data-aos-delay="200">
      </div>
    </div>
  </div>
</header>

<section class="c-section">
  <div class="o-container">
    <div class="o-grid">
      <form action="#">
        test
      </form>
    </div>
  </div>
</section>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>
