---

sitemap_priority: 0.8

footer_heading: Lorem ipsum dolor amet

title: let's build something great together



---

<header class="c-top-section">
  <div class="o-slant o-slant--top"></div>
  <div class="o-slant o-slant--bottom"></div>
  <div class="o-container">
    <div class="o-grid">
      <h1 class="o-grid__item u-1/1 c-top-section__heading">let's build something great together</h1>
      <h2 class="o-grid__item u-1/1 c-top-section__subheading">cras mattis consectetur purus sit amet fermentum</h2>
    </div>
  </div>
</header>

<section class="c-section">
  <div class="o-container">
    <div class="o-grid o-grid--padded">
      <div class="o-grid__item u-1/1 u-1/3@md">
        <h3>Lorem ipsum dolor amet sit consectetur</h3>
        <p>Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.<br><br> Donec ullamcorper nulla non metus auctor fringilla.</p>
      </div>
      <div class="o-grid__item u-1/1 u-2/3@md">
<!--         <div class="c-form-tabs">
          <div data-form-id="business" class="c-form-tabs__item c-form-tabs__item--active">New Business</div>
          <div data-form-id="hello" class="c-form-tabs__item">Say Hello</div>
        </div> -->
        <!-- New Business -->
        <form id="business" action="#">
          <div class="c-fieldset">
            <div class="c-field u-1/1 u-1/2@sm">
              <label for="" class="c-field__label">Name</label>
              <div class="c-field__input-wrapper">
                <input id="nameField" class="c-field__input type="text" placeholder="John Doe" required autofocus>
              </div>
            </div>
            <div class="c-field u-1/1 u-1/2@sm">
              <label for="" class="c-field__label">Email</label>
              <div class="c-field__input-wrapper">
                <input class="c-field__input type="text" placeholder="john@email.com" required>
              </div>
            </div>
            <div class="c-field u-1/1 u-1/2@sm">
              <label for="" class="c-field__label">Company</label>
              <div class="c-field__input-wrapper">
                <input class="c-field__input type="text" placeholder="Occam" required>
              </div>
            </div>
            <div class="c-field u-1/1 u-1/2@sm">
              <label for="" class="c-field__label">Interested in partnership</label>
              <div class="c-field__input-wrapper">
                <div class="c-field__input--select__arrow"></div>
                <select class="c-field__input c-field__input--select c-field__input--has-right-add-on" name="" id="" required>
                  <option>Yes</option>
                  <option>No</option>
                  <option>I don't know</option>
                </select>
              </div>
            </div>
            <div class="c-field u-1/1 u-1/2@sm">
              <label for="" class="c-field__label">Budget</label>
              <div class="c-field__input-wrapper">
                <div class="c-field__input--select__arrow"></div>
                <select class="c-field__input c-field__input--select c-field__input--has-right-add-on" name="" id="" required>
                  <option>Under £20,000</option>
                  <option>£20,000 - £40,000</option>
                  <option>£40,000 - £60,000</option>
                  <option>£60,000 - £80,000</option>
                  <option>£80,000 - £100,000</option>
                  <option>£100,000 or more</option>
                </select>
              </div>
            </div>
            <div class="c-field u-1/1 u-1/2@sm">
              <label for="" class="c-field__label">Timeline</label>
              <div class="c-field__input-wrapper">
                <div class="c-field__input--select__arrow"></div>
                <select class="c-field__input c-field__input--select c-field__input--has-right-add-on" name="" id="" required>
                  <option>2 months or less</option>
                  <option>2 - 3 months</option>
                  <option>3 - 6 months</option>
                  <option>6 months or more</option>
                </select>
              </div>
            </div>
            <div class="c-field">
              <label for="" class="c-field__label">Describe your project</label>
              <div class="c-field__input-wrapper">
                <textarea class="c-field__input c-field__input--textarea" placeholder="I need an iOS app built..." required></textarea>
              </div>
            </div>
            <div class="c-field">
              <button class="c-btn c-btn--primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- <section class="c-contact-footer"></section> -->

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'contact' %>
<% end %>
