---
footer_heading: test

sitemap_priority: 0.8

social:
  - name: twitter
    pretty_name: Twitter
    url: #
  - name: instagram
    pretty_name: Instagram
    url: #
  - name: dribbble
    pretty_name: Dribbble
    url: #
  - name: linkedin
    pretty_name: LinkedIn
    url: #
  

---

<!-- Intro -->

<section class="c-home-section">
  <div class="o-container">
    
    <h1>Grant Harris</h1>
    <p>Driven by my passion for building products that matter, I am currently disrupting the talent acquisition industry by helping create a beautiful all-in-one talent acquisition suite known as Beamery.</p>
   
    <ul class="o-list o-list--bare o-inline-list">
      <% current_page.data.social.each do |social| %>
        <li class=o-inline-list__item><a href="<%= social.url %>" class="c-link"><%= social.pretty_name %></a></li>
      <% end %>
    </ul>

  </div>
</section>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>