---

sitemap_priority: 0.8

---

<header class="c-home-section">
  <div class="o-container">
    <h1 class="c-home-section__heading">The law of briefness</h1>
    <h2 class="c-home-section__subheading">Simplicity at it's finest.  We are a digital agency that partners with early stage startups to help lorem ipsum dolor amet.I</h2>
  </div>
</header>











<% content_for :page_scripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>