---

sitemap_priority: 0.8

---

<header class="c-home-section">
  <div class="o-container">
    <h1 class="c-home-section__heading">Lorem ipsum dolor amet</h1>
    <h2 class="c-home-section__subheading">Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.</h2>
  </div>
</header>











<% content_for :page_scripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>