---

sitemap_priority: 0.8

---

<header class="c-header">
  <div class="o-container">
    <h1 class="c-header__heading">The law of briefness</h1>
    <h2 class="c-header__subheading">Simplicity at it's finest.  We are a digital agency that partners with early stage startups and helps bring your ideas to life.</h2>
  </div>
</header>











<% content_for :page_scripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>