---

sitemap_priority: 0.8

---

<header class="c-home-section">
  <div class="o-container">
    <h1 class="c-home-section__heading" data-aos="fade-up">Simplicity at the core</h1>
    <h2 class="c-home-section__subheading">We're a London based digital agency who partners with early state startups.</h2>
  </div>
</header>











<% content_for :page_scripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>