---

sitemap_priority: 0.8

companies:
  - name: facebook
    pretty_name: Facebook
    logo: tbd
    url: http://www.facebook.com
  - name: grab
    pretty_name: Grab
    logo: tbd
    url: http://www.grab.com
  - name: vmware
    pretty_name: VMware
    logo: tbd
    url: http://www.vmware.com
  - name: advantech
    pretty_name: Advantech
    logo: tbd
    url: http://www.advantech.com
  - name: lenovo
    pretty_name: Lenovo
    logo: tbd
    url: http://www.lenovo.com
  - name: intel
    pretty_name: Intel
    logo: tbd
    url: http://www.intel.com
  - name: sap
    pretty_name: SAP
    logo: tbd
    url: http://www.sap.com
  - name: eurocom
    pretty_name: EUROCOM
    logo: tbd
    url: http://www.eurocom.com
  - name: orange
    pretty_name: Orange
    logo: tbd
    url: http://www.orange.com
  - name: ibm
    pretty_name: IBM
    logo: tbd
    url: http://www.ibm.com
  - name: aramex
    pretty_name: Aramex
    logo: tbd
    url: http://www.aramex.com
  - name: tata
    pretty_name: Tata Consultancy Services
    logo: tbd
    url: http://www.tcs.com


---

<header class="c-home-section">
  <div class="o-slant"></div>
  <div class="o-container">
    <h1 class="c-home-section__heading">We're Occam, a digital product agency</h1>
    <h4 class="c-home-section__subheading">We partner with early stage startups to conceptualize, build, and launch new digital products.</h4>
  </div>
</header>

<section class="c-section">
  <div class="o-container">
    <div class="o-grid">
      <% current_page.data.companies.each do |companies| %>
        <div class="o-grid__item c-company-card u-1/2 u-1/4@md u-block">
          <a href="<%= companies.url %>" target="_blank"><%= companies.pretty_name %></a>
        </div>
      <% end %>
    </div>
  </div>
</section>















<% content_for :page_scripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>