---

sitemap_priority: 0.8

footer_heading: Lorem ipsum dolor amet



---

<header class="c-top-section">
  <div class="o-slant o-slant--top"></div>
  <div class="o-slant o-slant--bottom"></div>
  <div class="o-container">
    <div class="o-grid">
      <h1 class="o-grid__item u-1/1 c-top-section__heading">recent partnerships</h1>
      <h2 class="o-grid__item u-1/1 c-top-section__subheading">we partner with amazing teams to build stunning digital products</h2>
    </div>
  </div>
</header>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>
